<!-- Forms to edit commit IDs -->
<div id="error-msg"></div>
<div id="info-msg"></div>

<div id="first-commit-edit" class="goi-edit" markdown="1">
Enter your own *first-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="second-commit-edit" class="goi-edit" markdown="1">
Enter your own *second-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="third-commit-edit" class="goi-edit" markdown="1">
Enter your own *third-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="to-lose-commit-edit" class="goi-edit" markdown="1">
Enter your own *to-lose-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="detached-commit-edit" class="goi-edit" markdown="1">
Enter your own *detached-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="amended-commit-edit" class="goi-edit" markdown="1">
Enter your own *amended-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="first-tree-edit" class="goi-edit" markdown="1">
Enter your own *first-tree* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="second-tree-edit" class="goi-edit" markdown="1">
Enter your own *second-tree* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="folder-A-tree-edit" class="goi-edit" markdown="1">
Enter your own *folder-A-tree* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="folder-B-tree-edit" class="goi-edit" markdown="1">
Enter your own *folder-B-tree* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="file-B-blob-edit" class="goi-edit" markdown="1">
Enter your own *file-B-blob* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="leapfrog-one-commit-edit" class="goi-edit" markdown="1">
Enter your own *leapfrog-one-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="leapfrog-two-commit-edit" class="goi-edit" markdown="1">
Enter your own *leapfrog-two-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="merge-commit-edit" class="goi-edit" markdown="1">
Enter your own *merge-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="work-A-commit-edit" class="goi-edit" markdown="1">
Enter your own *work-A-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="work-A-merge-commit-edit" class="goi-edit" markdown="1">
Enter your own *work-A-merge-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
<div id="work-B-commit-edit" class="goi-edit" markdown="1">
Enter your own *work-B-commit* ID: <input type="text"><br>
(Enter to submit; Escape to cancel)
</div>
