/* Code in titles are part of titles. */
h2 code {
  @include relative-font-size(2);
}

.post-content {
  margin-bottom: $spacing-unit;

  /* _layout.scss missing h1 */
  h1 {
    @include relative-font-size(2.375);

    @include media-query($on-laptop) {
      @include relative-font-size(2.125);
    }
  }
}

.side-note {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  background-color: #ffffee;
}
