* {
  box-sizing: border-box;
}

.post-content {
  margin-bottom: $spacing-unit;

  /* Code in titles are part of titles. Make same size. */

  /* _layout.scss missing h1 */
  h1, h1 code {
    @include relative-font-size(2.375);

    @include media-query($on-laptop) {
      @include relative-font-size(2.125);
    }
  }

  h2 code {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 code {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 code {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.side-note, .tip, .forward {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0.5em;
  padding: 1%;
  border-radius: 10px;
  background-color: #ffffee;

  p:last-of-type {
    margin: 0;
  }
}

.tip {
  background-color: #ffeeee;
}

.forward {
  background-color: #eeffee;
}

#menu {
  display: none;
  position: fixed;
  bottom: 10vh;
  background-color: #eeeeee;
  opacity: 0.8;
  padding: 5px 10px 0 0;
  border-radius: 25px;
  height: 20vh;
  min-height: 140px;
  overflow: scroll;

  a.current {
    background-color: #ffeeee;
  }
}

.git-red {
  color: red;
}
.git-green {
  color: green;
}
.git-yellow {
  color: #afae30;
}
.git-blue {
  color: #54bcce;
}

div.figure {
  text-align: center;
}

pre, code {
  background-color: #f7f7f7;
}
